# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

.env
.venv/
__pycache__/
*.pyc
db.sqlite3